.grid-container{
    background-color: lightgray;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    /* justify-content: center; */

}

.grid-item{
    border: 2px solid black;
    background-color: blue;
    padding: 40px;
}
.grid-item1{
grid-row-start: 1;
grid-row-end: 5;
}
.grid-item2{

}
.grid-item3{

}
.grid-item4{
/* grid-column-start: 1;
grid-column-end: 4; */

}
.grid-item5{

grid-row-start: 1 / 5;
grid-row-end:5;
}
.grid-item6{

}
.grid-item7{

}
.grid-item8{

}
.grid-item9 {
   
}