.train-info{
    color: red;
    padding: 50px;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px blue;
}

.home{
    text-align: center; 
    margin: 10px;
}
.home img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.aside-menu{
    width: 300px;
    height: 87vh;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.aside-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-menu a{
    color: blue;
    text-decoration: none;
}

.product-info{
    color: red;
    padding: 50px;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px blue;
    position: absolute;
    top: 50px;
    left: 350px;
}