.preview-container{
    width: 400px;
    height: auto;
    margin: 10px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid transparent;
}

.preview-container h2{
    text-align: center;
}

.preview-container input{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    margin-bottom: 10px;
}
.preview-container button{
    width: 100%;
    height: 30px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 20px auto;
}
